[buildout]
develop = .
parts = test python coverage-test coverage-report omelette
newest = false

[test]
recipe = zc.recipe.testrunner
eggs =
    repoze.pgtextindex

[python]
recipe = zc.recipe.egg
eggs =
    repoze.pgtextindex
    nose
    coverage
interpreter = py

[coverage-test]
recipe = zc.recipe.testrunner
eggs =
    repoze.pgtextindex
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs =
    repoze.pgtextindex
    z3c.coverage
arguments = ('coverage', 'coverage/report')

[omelette]
recipe = collective.recipe.omelette
eggs = repoze.pgtextindex
ignores = setuptools
